* {
    box-sizing: border-box;
}

:root {
    --primary-color: #023df1;
    --text-color: #323c42;

    --height-navbar: 42px;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */
#header {
    padding: 10px 0;
    background-color: #fff;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: block;
}

.header-logo img {
    width: 100px;
}

.header-search {
    flex: 1;
    display: flex;
    margin: 0px 50px;
    justify-content: center;
}

.header-search .search-input {
    flex: 1;
    height: 34px;
    padding: 0px 12px;
    outline: none;
}

.header-search .search-button {
    padding: 0 20px;
    margin-left: 4px;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
}

.header-search .search-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.contact-phone {
    display: flex;
    align-items: center;
}

.contact-phone i {
    position: relative;
    top: -2px;
    font-size: 3.2rem;
    margin-right: 10px;
}

.contact-phone div {
    color: var(--text-color);
    font-size: 1.4rem;
}

.contact-phone div span {
    color: red;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 3rem;
}

/* NAVBAR */
#navbar {
    height: var(--height-navbar);
    background-color: var(--primary-color);
}

#navbar .content {
    display: flex;
    height: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    align-items: center;
}

.nav-category {
    display: flex;
    height: 100%;
    padding-left: 6px;
    padding-right: 40px;
    align-items: center;
    position: relative;
}

.nav-category::after {
    content: "";
    width: 1px;
    height: 60%;
    background-color: #fff;
    position: absolute;
    right: 0;
}

.nav-category:hover,
.nav-item:hover a {
    color: #38e5e7;
    text-shadow: 1px 0 0 #38e5e7;
    cursor: pointer;
}

.nav-list {
    display: flex;
    height: 100%;
}

.nav-item {
    display: flex;
    height: 100%;
    padding: 0px 30px;
    align-items: center;
}

.nav-item a {
    color: #fff;
}

.subnav-category {
    display: none;
    position: absolute;
    left: 0px;
    top: var(--height-navbar);
    width: 250px;
    background-color: #fff;
    box-shadow: 0 1px 20px 0 #ccc;
}

.nav-category:hover .subnav-category {
    display: block;
}

.subnav-category .subnav-item {
    padding: 20px 30px;
}

.subnav-category .subnav-item a {
    color: var(--text-color);
    text-shadow: none;
}

.subnav-category .subnav-item:hover {
    background-color: #d2d2d2;
}
