.main-content {
    margin-top: 30px;
}

.main-content .content {
    display: flex;
    gap: 20px;
}

.content-left {
    width: 70%;
}

.content-right {
    width: 30%;
}

.news-item-wrap {
    margin-bottom: 20px;
    transition: 0.3s;
}

.news-item-wrap:hover {
    transform: translateX(6px);
}

.news-item {
    display: flex;
    height: 200px;
    width: 100%;
    align-items: center;
    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color: #ccc;
}

.news-img {
    width: 30%;
    height: 100%;
}

.news-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-info {
    padding-left: 30px;
    color: #000;
}

.news-info-title {
    font-size: 1.8rem;
    font-weight: 400;
}

.news-info-title::after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: #ccc;
    border-radius: 2px;
    margin: 10px 0;
}

.news-info-desc {
    font-size: 1.4rem;
    color: var(--text-color);
}

.content-right .sideBar-item {
    margin-bottom: 30px;
}

.content-right .title {
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: 500;
}

.content-right .title::after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    margin: 10px 0;
    background-color: #ccc;
}

.content-right .news-item,
.cate-item {
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    height: 76px;
}

.content-right .news-item:hover,
.cate-item:hover {
    background-color: #dbdada;
}

.content-right .news-item-link,
.cate-item .cate-item-link {
    display: block;
    width: 100%;
}

.content-right .news-wrap,
.cate-item .item-wrap {
    display: flex;
}

.content-right .news-img,
.cate-item .item-img {
    width: 30%;
    height: 76px;
}

.content-right .news-img img,
.cate-item .item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-right .news-info,
.cate-item .item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.cate-item .item-info-name {
    color: var(--primary-color);
}

.cate-item .item-info-price {
    color: black;
    font-weight: 500;
}

.content-right .news-info {
    justify-content: center;
    font-size: 1.4rem;
}
